@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {

    padding: .5rem;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
        gap: .5rem;

    }

    button {
        background-color: v.$enlaces;
        margin: 0 0 1rem 0;

        &:hover {
            background-color: darken(v.$enlaces, 15%);
        }
    }
}

.ocultar {
    visibility: hidden;
}