@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {

    @include m.tablet {
        display: flex;
        gap: .3rem;
    }

    button {
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: .5rem;
        display: block;
        width: 100%;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: background-color 300ms ease;

        &:hover {
            background-color: darken(v.$azul, 10%);
            cursor: pointer;
        }

        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}