@use 'base/variables' as v;

.contenido-resumen {
    p {
        margin-bottom: .5rem;
    }

    span {
        color: v.$azul;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.contenedor-servicio {
    padding: 2rem 0;
    border-bottom: 1px solid v.$gris;

    &:last-of-type {
        margin-bottom: 1rem;
    }
}